<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog</title>
  <!-- <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>
  <header>
    <h1><a href="/">MyBlog</a></h1>
  </header>


  {% for post in posts %}
    <article>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      <time>published at {{ post.published_date }}</time>
    </article>
    {% endfor %}

</body>

</html>
